{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Thank you
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Hvala za kupovinu sa nama!
                </h3>
                <p>Vaša narudžba je uspješno poslana. Broj Vaše narudžbe je <strong>{{ order.id }}</strong>.</p>
            </div>
        </div>
    </div>
{% endblock %}