{% load static %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Druga Pomoc</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">



        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'css/animate/animate.css' %}" />
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <header id="home" class="navbar-fixed-top">
            <div class="header_top_menu clearfix">	
                <div class="container">
                    <div class="row">	
                        <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                            <div class="call_us_text">
								<a href="{% url 'shop:product_list' %}"><i class="fa fa-clock-o"></i> Naruci pivo 24/7</a>
								<a href=""><i class="fa fa-phone"></i>
                                    {% for content in contents %}
                                    {{ content.phone }}
                                    {% endfor %}</a>
							</div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="head_top_social text-right">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                                <a href=""><i class="fa fa-phone"></i></a>
                                <a href=""><i class="fa fa-camera"></i></a>
                            </div>	
                        </div>

                    </div>			
                </div>
            </div>

            <!-- End navbar-collapse-->

            <div class="main_menu_bg">
                <div class="container"> 
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand our_logo" href="#"><img src="{% static 'images/logo.png' %}" alt="" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#slider">Početna</a></li>
                                        <li><a href="#abouts">O Nama</a></li>
                                        <li><a href="#features">O Pivu</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">Kupi</a></li>
                                        <li><a href="#mobaileapps">Aplikacija</a></li>
                                        <li><a href="#footer_widget">Kontakt</a></li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>	
        </header> <!-- End Header Section -->

        <section id="slider" class="slider">
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_slider text-center">
                            <div class="col-md-12">
                                <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                                    <h1>Druga Pomoć</h1>


                                    {% for content in contents %}
                                    {{ content.title_description|safe }}
                                    {% endfor %}


                                    <a href="{% url 'shop:product_list' %}" class="btn-lg">Klikni ovdje</a>

                                </div>
                            </div>	
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="abouts" class="abouts">
            <div class="container">
                <div class="row">
                    <div class="abouts_content">
                        <div class="col-md-6">
                            <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                                <img src="{% static 'images/ab.png' %}" alt="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="single_abouts_text wow slideInRight" data-wow-duration="1s">
                                <h4>O Nama</h4>
                                <h3>MI SMO UKUSNI</h3>
                                    {% for content in contents %}
                                    {{ content.about_us|safe }}
                                    {% endfor %}

                                <a href="{% url 'shop:product_list' %}" class="btn btn-primary">Klikni ovdje</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="features" class="features">
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_features_content_area  wow fadeIn" data-wow-duration="3s">
                            <div class="col-md-12">
                                <div class="main_features_content text-left">
                                    <div class="col-md-6">
                                        <div class="single_features_text">
                                            <h4>O Pivu</h4>
                                            <h3>Ukus Preciznosti</h3>
                                            {% for content in contents %}
                                            {{ content.about_beer|safe }}
                                            {% endfor %}
                                            <a href="{% url 'shop:product_list' %}" class="btn btn-primary">Klikni ovdje</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="portfolio_content text-center  wow fadeIn" data-wow-duration="5s">
                        <div class="col-md-12">
                            <div class="head_title text-center">
                                <h4>Naruči</h4>
                                            {% for content in contents %}
                                            {{ content.beer_shop|safe }}
                                            {% endfor %}
                            </div>


                            <!-- Beers  -->


                            <div class="main_portfolio_content">

                                {% for beer in beer_1st %}

                                <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                                    <img src="{{ beer.image.url }}" alt="" />
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>{{ beer.name }}</h6>
                                        <p class="product_price">{{ beer.price|safe }} KM</p>
                                        <a href="{{ beer.get_absolute_url }}" class="btn btn-primary">Klikni ovdje</a>
                                    </div>
                                </div>
                                {% endfor %}




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="mobaileapps" class="mobailapps">
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_mobail_apps_content wow zoomIn">
                            <div class="col-md-5 col-sm-12 text-center">
                                <img src="{% static 'images/iphone.png' %}" alt="" />
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <div class="single_monail_apps_text">
                                    <h4> Predstavljamo </h4>
                                    <h1>Mobilnu Aplikaciju <span>Dostupna na Android i OS platformama.</span></h1>

                                    <a href=""><img src="{% static 'images/google.png' %}" alt="" /></a>
                                    <a href=""><img src="{% static 'images/apps.png' %}" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer_widget" class="footer_widget">
            <div class="container">
                <div class="row">ls
                    <div class="footer_widget_content text-center">
                        <div class="col-md-4">
                            <div class="single_widget wow fadeIn" data-wow-duration="2s">
                                <h3>Evo gdje se nalazimo</h3>

                                <div class="single_widget_info">
                                        {% for content in contents %}
                                        {{ content.address|safe }}
                                        {% endfor %}
                                        <p><span class="phone_email">Telefon:

                                    {% for content in contents %}
                                    {{ content.phone }}

                                        </span>
                                        <span>Email: {{ content.email }}</span></p>
                                    {% endfor %}
                                </div>

                                <div class="footer_socail_icon">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                    <a href=""><i class="fa fa-phone"></i></a>
                                    <a href=""><i class="fa fa-camera"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="single_widget wow fadeIn" data-wow-duration="4s">
                                <h3>Za Vas smo uvijek dostupni</h3>

                                <div class="single_widget_info">
                                    <span class="date_day">

                                        {% for content in contents %}
                                        {{ content.working_time|safe }}
                                        {% endfor %}
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="single_widget wow fadeIn" data-wow-duration="5s">
                                <h3>Kontaktirajte nas</h3>

                                <div class="single_widget_form text-left">
                                    <form action="{% url 'contact' %}" method="POST" id="formid">
                                        {% csrf_token %}
                                        <div class="form-group">

                                            <input type="text" class="form-control" name="name" placeholder="Ime" required="">
                                        </div>

                                        <div class="form-group">

                                            <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                        </div>

                                        <div class="form-group">

                                            <input type="text" name="title" class="form-control" placeholder="Naslov">
                                        </div> <!-- end of form-group -->

                                        <div class="form-group">

                                            <textarea class="form-control" name="message" rows="3" placeholder="Poruka"></textarea>
                                        </div>

                                        <input type="submit" value="Pošalji poruku" class="btn btn-primary">
                                    </form>	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright wow zoomIn" data-wow-duration="3s">
							<p>Made with <i class="fa fa-heart"></i> for Biki by Petar Janjić</a>2019. All Rights Reserved</p>
						</div>
                    </div>
                </div>
            </div>
        </footer>
		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>		


        <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/jquery-easing/jquery.easing.1.3.js' %}"></script>
        <script src="a{% static 'js/wow/wow.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
