{% load static %}

        <section id="footer_widget" class="footer_widget">
            <div class="container">
                <div class="row">
                    <div class="footer_widget_content text-center">
                        <div class="col-md-4">
                            <div class="single_widget wow fadeIn" data-wow-duration="2s">
                                <h3>Evo gdje se nalazimo</h3>

                                <div class="single_widget_info">
                                        {% for content in contents %}
                                        {{ content.address|safe }}
                                        {% endfor %}
                                        <p><span class="phone_email">Telefon:

                                    {% for content in contents %}
                                    {{ content.phone }}

                                        </span>
                                        <span>Email: {{ content.email }}</span></p>
                                    {% endfor %}
                                </div>

                                <div class="footer_socail_icon">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                    <a href=""><i class="fa fa-phone"></i></a>
                                    <a href=""><i class="fa fa-camera"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="single_widget wow fadeIn" data-wow-duration="4s">
                                <h3>Za Vas smo uvijek dostupni</h3>

                                <div class="single_widget_info">
                                    <span class="date_day">

                                        {% for content in contents %}
                                        {{ content.working_time|safe }}
                                        {% endfor %}
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="single_widget wow fadeIn" data-wow-duration="5s">
                                <h3>Kontaktirajte nas</h3>

                                <div class="single_widget_form text-left">
                                    <form action="{% url 'contact' %}" method="POST" id="formid">
                                        {% csrf_token %}
                                        <div class="form-group">

                                            <input type="text" class="form-control" name="name" placeholder="Ime" required="">
                                        </div>

                                        <div class="form-group">

                                            <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                        </div>

                                        <div class="form-group">

                                            <input type="text" name="title" class="form-control" placeholder="Naslov">
                                        </div> <!-- end of form-group -->

                                        <div class="form-group">

                                            <textarea class="form-control" name="message" rows="3" placeholder="Poruka"></textarea>
                                        </div>

                                        <input type="submit" value="Pošalji poruku" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright wow zoomIn" data-wow-duration="3s">
							<p>Made with <i class="fa fa-heart"></i> for Biki by Petar Janjić</a>2019. All Rights Reserved</p>
						</div>
                    </div>
                </div>
            </div>
        </footer>