{% load static %}

		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <header id="home" >
            <div class="header_top_menu clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                            <div class="call_us_text">
								<a href="{% url 'shop:product_list' %}"><i class="fa fa-clock-o"></i> Naruci pivo 24/7</a>
								<a href=""><i class="fa fa-phone"></i>
                                    {% for content in contents %}
                                    {{ content.phone }}
                                    {% endfor %}</a>
							</div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="head_top_social text-right">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                                <a href=""><i class="fa fa-phone"></i></a>
                                <a href=""><i class="fa fa-camera"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- End navbar-collapse-->


            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand our_logo" href="{%url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="{%url 'index' %}">Početna</a></li>
                                        <li><a href="{%url 'index' %}#abouts">O Nama</a></li>
                                        <li><a href="{%url 'index' %}#features">O Pivu</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">Kupi</a></li>
                                        <li><a href="{%url 'index' %}#mobaileapps">Aplikacija</a></li>
                                        <li><a href="{%url 'index' %}#footer_widget">Kontakt</a></li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
            </header> <!-- End Header Section -->